<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="http://moneyconcepts.com/"><img src="http://moneyconcepts.com/image/branchImage/4a700943-027a-4364-95ba-98244a304783"/></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="http://moneyconcepts.com/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
    </ul>
  </div>
</nav>
